.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.apartment-infos {
  color: #ff6060;
}

.apartment-infos .apartment-title {
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.apartment-infos .apartment-location {
  font-size: 18px;
  margin: 0;
}

.collapse-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collapse-container .collapse {
  width: 46%;
  margin: 0;
}

.collapse-container .collapse .content {
  height: 70%;
}

.host-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.host-infos p {
  color: #ff6060;
}

.host-infos img {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  margin-left: 10px;
}
