.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.infos .apartment-infos {
  color: #ff6060;
}

.infos .apartment-infos .apartment-title {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

.infos .apartment-infos .apartment-location {
  font-size: 18px;
  margin: 2px 0 20px 0;
  font-weight: 500;
}

.infos .host-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collapse-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collapse-container .collapse {
  width: 46%;
  margin: 0;
}

.collapse-container .collapse .content {
  height: 70%;
}

@media (max-width: 481px) {
  .infos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .infos .apartment-infos {
    color: #ff6060;
  }
  .infos .apartment-infos .apartment-title {
    font-size: 18px;
  }
  .infos .apartment-infos .apartment-location {
    font-size: 14px;
  }
  .infos .host-infos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .collapse-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .collapse-container .collapse {
    width: 100%;
    margin-bottom: 20px;
  }
}
