@import './variables';

.tags {
	display: flex;
	flex-wrap: wrap;
}

.infos {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
	.apartment-infos {
		color: $primary;
		.apartment-title {
			font-size: 36px;
			font-weight: 500;
			margin: 0;
		}
		.apartment-location {
			font-size: 18px;
			margin: 2px 0 20px 0;
			font-weight: 500;
		}
	}
	.host-infos {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.dropdown-container {
	display: flex;
	justify-content: space-between;
	.dropdown {
		width: 46%;
		margin: 0;
	}
}

@media (max-width: 481px) {
	.infos {
		flex-direction: column;
		.apartment-infos {
			color: $primary;
			.apartment-title {
				font-size: 18px;
			}
			.apartment-location {
				font-size: 14px;
			}
		}
		.host-infos {
			flex-direction: row-reverse;
		}
	}
	.dropdown-container {
		flex-direction: column;
		.dropdown {
			width: 100%;
			margin-bottom: 20px;
		}
	}
}
