@import './variables';

.tags {
	display: flex;
}

.apartment-infos {
	color: $primary;
	.apartment-title {
		font-size: 36px;
		font-weight: normal;
		margin: 0;
	}
	.apartment-location {
		font-size: 18px;
		margin: 0;
	}
}

.collapse-container {
	display: flex;
	justify-content: space-between;
	// height: 100%;
	.collapse {
		width: 46%;
		margin: 0;
		.content {
			height: 70%;
		}
	}
}

.host-infos {
	display: flex;
	p {
		color: $primary;
	}
	img {
		border-radius: 50%;
		width: 65px;
		height: 65px;
		margin-left: 10px;
	}
}
