.carousel {
  position: relative;
  margin-bottom: 30px;
}

.carousel .picture {
  height: 415px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}

.carousel .arrow-prev {
  position: absolute;
  left: 25px;
  top: 40%;
  cursor: pointer;
}

.carousel .arrow-next {
  position: absolute;
  right: 25px;
  top: 40%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer;
}

.carousel .image-counter {
  position: absolute;
  bottom: 25px;
  left: 50%;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
