.carousel {
	position: relative;
	margin-bottom: 30px;
	.picture {
		height: 415px;
		width: 100%;
		object-fit: cover;
		border-radius: 25px;
	}
	.arrow-prev {
		position: absolute;
		left: 25px;
		top: 40%;
		cursor: pointer;
	}
	.arrow-next {
		position: absolute;
		right: 25px;
		top: 40%;
		transform: rotate(180deg);
		cursor: pointer;
	}
	.image-counter {
		position: absolute;
		bottom: 25px;
		left: 50%;
		color: white;
		user-select: none;
	}
}

@media (max-width: 481px) {
	.carousel {
		margin-bottom: 15px;
		.picture {
			border-radius: 10px;
			height: 255px;
		}
		.arrow-prev {
			left: 6px;
			top: 45%;
			height: 20px;
			width: 12px;
		}
		.arrow-next {
			right: 6px;
			top: 45%;
			height: 20px;
			width: 12px;
		}
		.image-counter {
			bottom: 5px;
		}
	}
}
