.collapse {
  margin: 30px 5%;
}

.collapse .trigger {
  cursor: pointer;
  font-size: 24px;
  background-color: #ff6060;
  color: white;
  border-radius: 5px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 30px;
  font-weight: 500;
}

.collapse .content {
  color: #ff6060;
  background-color: #f7f7f7;
  padding: 18px;
  border-radius: 5px;
}

.collapse .content p {
  margin: 0;
}

@media (max-width: 481px) {
  .collapse {
    margin: 20px 0;
  }
  .collapse .trigger {
    padding-left: 12px;
    padding-right: 6px;
    font-size: 13px;
    height: 30px;
  }
  .collapse img {
    height: 9px;
    width: 15px;
  }
  .collapse .content {
    font-size: 12px;
    padding: 10px;
  }
}
