@import './variables';

.collapse {
	margin: 30px 5%;
	.trigger {
		cursor: pointer;
		font-size: 24px;
		background-color: $primary;
		color: white;
		border-radius: 5px;
		height: 47px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 20px;
		padding-right: 30px;
		font-weight: 500;
	}
	.content {
		color: $primary;
		background-color: #f7f7f7;
		padding: 18px;
		border-radius: 5px;
		p {
			margin: 0;
		}
	}
}

@media (max-width: 481px) {
	.collapse {
		margin: 20px 0;
		.trigger {
			padding-left: 12px;
			padding-right: 6px;
			font-size: 13px;
			height: 30px;
		}
		img {
			height: 9px;
			width: 15px;
		}
		.content {
			font-size: 12px;
			padding: 10px;
		}
	}
}
