@import './variables';

.error-page {
	color: $primary;
	.error-404 {
		font-weight: bold;
		font-size: 288px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 90px 0 0 0;
	}
	.error-text {
		font-weight: 500;
		font-size: 36px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 180px;
		text-align: center;
	}
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 500;
		font-size: 18px;
		&:visited {
			color: $primary;
		}
	}
}

@media (max-width: 491px) {
	.error-page {
		.error-404 {
			font-size: 96px;
		}
		.error-text {
			font-size: 18px;
		}
		a {
			font-size: 14px;
		}
	}
}
