header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav a {
  color: #ff6060;
  font-size: 24px;
  text-decoration: none;
  font-weight: 500;
}

@media (max-width: 480px) {
  header img {
    width: 145px;
  }
  header nav {
    width: 40%;
  }
  header nav a {
    font-size: 12px;
    text-transform: uppercase;
  }
}
