@import '_variables.scss';

.host {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	p {
		color: $primary;
		display: flex;
		flex-direction: column;
		font-weight: 500;
		font-size: 18px;
		text-align: right;
		margin: 0;
	}
	img {
		border-radius: 50%;
		width: 65px;
		height: 65px;
		margin-left: 10px;
	}
}

@media (max-width: 481px) {
	.host {
		p {
			font-size: 12px;
		}
		img {
			height: 32px;
			width: 32px;
		}
	}
}
