.rating {
	display: flex;
	align-items: center;
	img {
		margin-left: 10px;
	}
}

@media (max-width: 481px) {
	.rating {
		img {
			margin-left: 0;
			margin-right: 5px;
			height: 15px;
			width: 15px;
		}
	}
}
