@import '../variables';

.tag {
	min-width: 75px;
	height: 25px;
	border-radius: 10px;
	background-color: $primary;
	color: white;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	padding: 0 20px;
}
