#thumbnail-container {
  padding: 50px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px 60px;
  background-color: #f7f7f7;
  border-radius: 25px;
}
